{% extends 'base.html' %}
{% block content %}
  <h1 class='text-center my-5'>
    게시판</h1>
  <div class="row gx-2">
    {% for article in articles %}
      <div class="col-md-4 col-lg-3">
        <div class="card my-2">
          <a href="{% url 'articles:detail' article.pk %}" class='text-decoration-none text-dark'>
            {% if article.image %}
              <img src="{{ article.image.url }}" alt="{{article.image}}" class="card-img-top" style='height:12rem'>
            {% else %}
              <img src="https://via.placeholder.com/180x150" alt="" class="card-img-top" style='height:12rem'>
            {% endif %}
            <div class="card-body">
              <h5 class='card-title'>
                {{ article.title }}
              </h5>
              <div class="">
                <p>{{ article.user.username }}</p>
                <p>
                  {{ article.created_at|date:'y.m.d' }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}