{% extends 'base.html' %}
{% block content %}
  {% if searched %}
    <h1 class='mb-5 my-5'>"
      {{ searched }}
      "에 대한 검색정보</h1>
    {% for article in articles %}
      <h4>
        <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none text-black">
          {{article.user}}
          |{{ article.title}}|{{ article.created_at }}
        </a>
        <br>
        <hr>
      {% endfor %}
    </h4>
  {% else %}
    <h1 class='mb-5 my-5 text-center'>검색정보가 없습니다.</h1>
  {% endif %}
{% endblock content %}
